body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.cal {
  width: 375px;
  height: 812px;
  border-radius: 39px;
  /* backdrop-filter: blur(102px); */
  background: linear-gradient(
    133.2deg,
    rgb(247, 248, 251) -5.936%,
    rgba(247, 248, 251, 0.19) 103.623%
  );
}

.cal2 {
  width: auto;
  /* width: 375px; */
  height: 812px;
  border-radius: 39px;

  background: linear-gradient(
    223.38deg,
    rgb(23, 24, 26) -4.946%,
    rgb(23, 24, 26) 103.744%
  );
}

body {
  background: rgb(160, 215, 255);
}

/* button */
.buttonprimary {
  width: 62px;
  height: 62px;
  padding: 6px 4px 6px 4px;
  box-sizing: border-box;
  border-radius: 16px;

  /* backdrop-filter: blur(12px); */
  background: linear-gradient(
    131.52deg,
    rgba(255, 255, 255, 0.6) -9.404%,
    rgba(255, 255, 255, 0.4) 114.28%
  );
}

.alltextbtn {
  color: rgb(160, 215, 255);
  font-family: Poppins;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}

#iconcolor {
  color: rgb(77, 160, 220);
  font-size: 1rem;
}

#divide {
  color: rgb(77, 160, 220);
}
#multiply {
  color: rgb(77, 160, 220);
}
#minus {
  color: rgb(77, 160, 220);
}

.normalbtn {
  color: rgb(255, 255, 255);
}


#zero{
  width: 140px;
  background: linear-gradient(
    131.52deg,
    rgba(255, 255, 255, 0.6) -9.404%,
    rgba(255, 255, 255, 0.4) 114.28%
  );
  border-radius: 16px;
}

#plus2{
  height:120px;
  margin-bottom: 0;
}

#soman{
  bottom: 29px;
  height: 91px;
  margin-top: 0;
}